<h2>{{title}}</h2>


<form action="/movies/edit/{{_id}}" method="POST">
    <label> Title:
        <input type="text" name="title" value={{title}} />
    </label>
    <br>

    <label> Genre:
        <input type="text" name="genre" value={{genre}} />
    </label>
    <br>
    <label> Plot:
        <textarea type="text" name="plot">{{plot}}</textarea>
    
    </label>
    <br>

    <label> Cast:
        <select name="cast" multiple>
            <option disable selected value=""></option>
            {{#each cast}}
            <option value="{{_id}}"> {{name}} </option>
            {{/each}}
        </select>
    </label>
    <br>

    <button type="submit">Save</button>
</form>